/* Basic ******************** */

body {
  font-size: 16px;
  color: #333;
  line-height: 1.9;
  font-family: sans-serif;
}

a {
  color: #333;
  text-decoration: none;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
  color: #0faf97;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1020px;
  margin: 32px auto;
  padding: 8px 32px;
}

/* Hero Section ******************** */

.jumbo-container {
  height: 384px;
  padding: 32px 0;
}

.jumbo-title {
  width: 240px;
  margin: 112px auto 24px;
  color: #fff;
  font-weight: 700;
  padding: 0 1px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #777, -1px -1px 0 #777, -1px 1px 0 #777,
    1px -1px 0 #777, 0px 1px 0 #777, 0-1px 0 #777, -1px 0 0 #777, 1px 0 0 #777;
}

.jumbo-text {
  margin: 16px auto;
  width: 80%;
  text-align: center;
}

/* Pickup Article Section ******************** */

.pickup-block{
  margin: 64px 0;
}

.panel-title {
  color: #777;
  padding: 0 16px;
  border-left: #0faf97 8px solid;
  line-height: 1.2;
  font-size: 24px;
  margin-bottom: 16px;
}


/* content region2 ******************** */

.contentRegion2 {
  margin: 64px 16px 32px;
  padding: 20px 35px 30px 30px;
  background-color: #f4f4f4;
}

.region2Img {
  margin: 16px 8px 8px;
}

.listGroupHeader {
  margin-top: 12px;
  padding-left: 8px;
}

.listGroupItem {
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
}

.fa {
  color: #0faf97;
  margin: 0 7px 0 0;
}

/* footet ******************** */

.footer {
  padding: 20px;
  color: #0faf97;
  background-color: #000000;
}

.footerRow {
  max-width: 900px;
  margin: 0 auto;
}

.footerCopy {
  padding: 20px;
  margin: 20px;
}

/* media query */

@media (min-width: 1051px) {
  .pickList {
    padding: 0;
    margin: 10px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
  }

  .pickItem {
    display: flex;
    justify-content: space-between;
    height: 150px;
  }

  .pickItemImage {
    margin: 10px auto;
    height: auto;
    max-width: 25%;
    object-fit: cover;
    flex-basis: 25%;
  }

  .pickItemDesc {
    flex-basis: 75%;
    padding: 0 25px;
    overflow: hidden;
  }

  .pickItemDescTitle {
    font-size: 1.3rem;
    padding: 10px 0 0;
    margin: 0;
    color: #444;
  }

  .pickItemDescText {
    display: block;
    padding: 5px 0 0;
    margin: 0;
    color: #444;
    line-height: 1.4rem;
  }
}

@media (min-width: 600px) and (max-width: 1050px) {
  .pickList {
    padding: 0;
    margin: 10px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
  }

  .pickItem {
    display: flex;
    justify-content: space-between;
    height: 150px;
  }

  .pickItemImage {
    margin: 7px auto;
    height: auto;
    object-fit: cover;
    flex-basis: 25%;
    max-width: 25%;
  }

  .pickItemDesc {
    flex-basis: 75%;
    padding: 0 15px 5px;
    overflow: hidden;
  }

  .pickItemDescTitle {
    font-size: 1.2rem;
    padding: 7px 0 0;
    margin: 0;
    color: #444;
  }

  .pickItemDescText {
    display: block;
    padding: 5px 0 0;
    margin: 0;
    color: #444;
    line-height: 1.4rem;
  }
}
