/* Basic ******************** */

body {
  font-size: 16px;
  color: #333;
  line-height: 1.9;
  font-family: sans-serif;
}

a {
  color: #333;
  text-decoration: none;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
  color: #0faf97;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1020px;
  margin: 3rem auto;
}

/* Hero Section ******************** */

.jumbo-container {
  position: relative;
  max-width: 1020px;
  margin: 0 auto;
}

.jumbo-text {
  position: absolute;
  top: 120px;
  left: 1%;
  width: 370px;
  color: #fff;
  font-weight: 700;
  padding: 0 1px;
  background-color: rgba(0, 0, 0, 0.02);
  opacity: 1;

  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #777, -1px -1px 0 #777, -1px 1px 0 #777,
    1px -1px 0 #777, 0px 1px 0 #777, 0-1px 0 #777, -1px 0 0 #777, 1px 0 0 #777;
}

/* Pickup Article Section ******************** */

.panelTitle {
  margin: 10px 8px 25px;
  color: #fff;
  padding:10px 16px;
  border-radius:5px;
  background-color:#0faf97;
}

.pickList {
  padding: 0;
  margin: 10px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  transition: all 0.3s;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.pickList:hover {
  transform: scale(1.02, 1.02);
}

.pickItem {
  display: block;
  max-height: 350px;
  padding:0;
}

.pickItemImage{
  padding:0;
  padding-bottom:0;
  margin: 0 auto;
  max-height: 140px;
  // height:30%;
  width: 80%;
  border-radius: 3px;
  overflow: hidden;
  object-fit: none;
  object-position: 0% 0% ;
}

.pickItemDesc {
  padding: 5px 15px 5px;
  overflow: hidden;
}

.pickItemDescTitle {
  font-size:1rem;
  padding: 10px 15px;
  margin: 0 auto;
  color: #444;
}

.pickItemDescText {
  display:none;
}

/* side area ******************** */

.widgetBox {
  margin: 20px 15px;
  padding:10px;
  border:1px solid #e5e5e5;
  border-radius:5px;
}

.widgetTitle{
  font-size:1rem;
  color:#444;
  font-weight:600;
}

.twitterWidgetBox {
  margin: 20px 15px;
  border: 1px solid #e5e5e5;
}

/* content region2 ******************** */

.contentRegion2 {
  margin: 20px;
  padding: 20px 35px 30px 30px;
  background-color: #f4f4f4;
}

.region2Img {
  margin: 20px 10px;
}

.listGroupItem {
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
}

.fa {
  color: #0faf97;
  margin:0 7px 0 0;
}

/* footet ******************** */

.footer {
  padding: 20px;
  color: #0faf97;
  background-color: #000000;
}

.footerRow {
  max-width: 900px;
  margin: 0 auto;
}

.footerCopy {
  padding: 20px;
  margin: 20px;
}

/* media query */

@media (min-width: 1051px) {
  .pickList {
    padding: 0;
    margin: 10px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
  }

  .pickItem {
    display: flex;
    justify-content: space-between;
    height: 150px;
  }

  .pickItemImage {
    margin: 10px auto;
    height: auto;
    max-width: 25%;
    object-fit: cover;
    flex-basis: 25%;
  }

  .pickItemDesc {
    flex-basis: 75%;
    padding: 0 25px;
    overflow: hidden;
  }

  .pickItemDescTitle{
    font-size:1.3rem;
    padding: 10px 0 0;
    margin: 0;
    color: #444;
  }

  .pickItemDescText {
    display:block;
    padding: 5px 0 0;
    margin: 0;
    color: #444;
    line-height: 1.4rem;
  }
}

@media (min-width: 600px) and (max-width: 1050px) {
  .pickList {
    padding: 0;
    margin: 10px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
  }

  .pickItem {
    display: flex;
    justify-content: space-between;
    height: 150px;
  }

  .pickItemImage {
    margin: 7px auto;
    height: auto;
    object-fit: cover;
    flex-basis: 25%;
    max-width: 25%;
  }

  .pickItemDesc {
    flex-basis: 75%;
    padding: 0 15px 5px;
    overflow: hidden;
  }

  .pickItemDescTitle{
    font-size:1.2rem;
    padding: 7px 0 0;
    margin: 0;
    color: #444;
  }

  .pickItemDescText {
    display:block;
    padding: 5px 0 0;
    margin: 0;
    color: #444;
    line-height: 1.4rem;
  }
}
