/*contents layout setting */

.wrapper {
  display: block;
  max-width: 1020px;
  margin: 0 auto;
  padding: 1rem 1rem 2rem;
  width: 100%;
}

.chartWrapper {
  padding:5px;
  max-width: 1020px;
  margin:20px auto;
}

.chartContainer {
  margin:40px 0;
}


.legendContainer{
  margin:20px 0;
}

.chartLegend{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.chartLegend li{
  margin:0 10px;;
}

.faUsa{
  color:blue;
}

.faJpn{
  color:red;
}

.faLon{
  color:green;
}