.image {
  width: 100px;
}
.h1Wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

h1.h1 {
  padding: 1rem;
  color: #fff;
  background: #0faf97;
  font-weight: 500;
  border-bottom: 6px #ddd solid;
  border-radius: 2px;
  font-size: 2rem;
}

/*contents layout setting */

.wrapper {
  display: block;
  max-width: 1020px;
  margin: 0 auto;
  padding: 10px 5px;
  width: 100%;
}

.main-contents {
  margin: 0 15px 20px 15px;
}

.sideWidget {
  display: block;
  margin: 10px 10px;
}

@media screen and (min-width: 992px) {
  .wrapper {
    display: flex;
    max-width: 1020px;
  }

  .main-contents {
    flex: 1 0 70%;
  }

  .sideWidget {
    flex: 0 1 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px auto;
    min-height: 600px;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .sideWidget {
    display: flex;
    margin: 20px 10px;
  }

  .sideWidget-category {
    flex: 1 1 40%;
    margin: 20px 10px;
  }

  .sideWidget-twitter {
    flex: 1 0 60%;
    margin: 20px 10px;
  }
}

// end contents layout setting

//Post Lists

.postTitle {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.postsList {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #444;
  margin: 15px 0;
}

@media screen and (max-width: 568px) {
  .postsList {
    display: block;
  }
}

.postImage {
  margin: 5px 10px;
  padding:15px;
  height: auto;
  object-fit: cover;
  width: 100%;
  flex-basis: 25%;
}

.postText {
  flex-basis: 75%;
  padding: 0 15px 5px 25px;
  margin:0 10px;
}

.catLink {
  font-size: 0.8rem;
  background-color: #41b8a6;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  margin-right: 10px;
}
