
.widgetTitle{
    font-size:1rem;
    color:#444;
    font-weight:600;
  }

.sideUl{
    margin:10px 10px 5px ;
}


.sideList{
    color:#41b8a6;
    font-size:1.2rem;
    line-height:1.5rem;
}

.sideList:hover{
    opacity:0.8;
}


.sideItem{
    color:#0faf97;
}

.styles.activeSideItem{
    color:#0faf97;
}