/* Tuts block content region1 ******************** */

.tutsHeader {
  color: #777;
  padding: 0 16px;
  border-left: #0faf97 8px solid;
  line-height: 1.2;
  font-size: 24px;
}

.blockWrapper {
  margin: 1rem;
}

.block {
  border: #ccc solid 1px;
  padding: 20px 20px 30px 20px;
  text-align: center;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  height: 240px;
  border: #ccc solid 1px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.block a {
  text-decoration: none;
  overflow: visible;
}

.block h3 {
  color: #0faf97;
}

.fa {
  color: #0faf97;
}

.fa-3 {
  font-size: 4em !important;
}

.block p {
  font-size: 16px;
  line-height: 1.5;
}

.blockCaption {
  font-size: 300%;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.blockMask {
  position: absolute;
  top: 25px;
  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  opacity: 0;
  border-radius: 3px;
  background-color: rgba(15, 175, 151, 0.6);
  transition: all 0.2s ease;
}

.blockMask:hover {
  opacity: 1;
}
