/* Hero Section ******************** */


.jumbotron{
    border-bottom: 1px solid #e5e5e5;
    background-size:cover;
    height:380px;
    color:#fff;
    opacity:0.9;
    position: relative;
  }
  
